/proyectoUltimaVersion/nbproject/private/
/proyectoUltimaVersion/build/
/proyecto/build/
/proyectoUltimaUltimaVersion/build/
/proyectoUltimaUltimaVersion/nbproject/private/
/proyecto/nbproject/private/
/cambios/proyecto/nbproject/private/
/Firewall/nbproject/private/
/firewal/nbproject/private/
/firewal/build/
/ya no/proyecto2/FireTomb/firewall/build/
/ya no/proyecto2/FireTomb/firewall/nbproject/private/
/proyecto2/FireTomb/firewall/dist/
/proyecto2/FireTomb/firewall/build/